.button{
    padding:1.5% 3%;
    border-radius: 0.78rem;
    background-color: $buttonBg;
    color: $bg;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.5;
    font-weight: 700;
}