$font-fam1:Poppins, sans-serif;
$font-sz : 1.5rem;
$font-clr:rgb(255, 94, 0);
$font-wt:500;
$lineHt:2.5;
$footertxtClr:#fff;
$ftrLineHt:2;
$footer_fontSz:0.75rem;
$ftr_sbHead:1rem;
$blue:#2A5391;
$paraSz:0.5rem;
$hdfontWt:800;
$paratxtClr:hwb(233 36% 60%);
$ltrSpc:1;